---

import BotonEditar from "./buttons/botonEditar.astro";

import { db, usuario, Roles } from "astro:db";
import { eq } from "astro:db";
import BotonBorrar from "./buttons/botonBorrar.astro";

// Obtener los pedidos con el nombre de la localidad
const user = await db
  .select()
  .from(usuario)
  .innerJoin(Roles, eq(usuario.rol_id, Roles.id));
---

<table class="table">
  <thead>
    <tr>
      <th id="nombre" style="font-weight: 600; font-size: larger;">Nombre</th>
      <th id="apellidos" style="font-weight: 600; font-size: larger;"
        >Apellidos</th
      >
      <th id="usuario" style="font-weight: 600; font-size: larger;">Usuario</th>
      <th id="rol" style="font-weight: 600; font-size: larger;">Rol</th>
      <th style="font-weight: 600; font-size: larger;">Acciones</th>
    </tr>
  </thead>
  <tbody>
    {
      user.map((usuarios) => (
        <tr data-user-id="{usuario.id}">
          <td>{usuarios.usuario.nombres}</td>
          <td>{usuarios.usuario.apellidos}</td>
          <td>{usuarios.usuario.user}</td>
          <td>{usuarios.Roles.rol_label}</td>

          <td>
            <BotonEditar/>
            <BotonBorrar/>
          </td>
        </tr>
      ))
    }
  </tbody>
</table>








<!--*************************************************************************************************-->

<style>
  .Form {
    width: 560px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 30px;
    background-color: rgb(255, 255, 255);
  }
  .titulo {
    text-align: center;
    margin-bottom: 10px;
  }

  table {
    border-collapse: collapse;
    font-size: 12px;
    font-family: arial;
    width: 80%;
    margin-left: 250px;
    margin-top: 30px;
  }

  table th {
    text-align: left;
    padding: 10px;
    background: rgb(30 58 138);
    color: #fff;
  }

  table tr:nth-child(odd) {
    background: #cecece;
  }

  table td {
    padding: 10px;
  }

  
</style>